{
  "root": true,
  "env": {
    "browser": true,
    "commonjs": true,
    "es2021": true
  },
  "extends": ["airbnb", "prettier", "react", "react-hooks", "prettier", "import"],
  "plugins": ["prettier"],
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "react/prop-types": "off",
    "no-underscore-dangle": 0,
    "react/jsx-props-no-spreading": "off",
    "import/imports-first": ["error", "absolute-first"],
    "import/newline-after-import": "error",
    "no-console": "warn",
    "no-alert": "error",
    "no-param-reassign": "off",
    "no-useless-concat": "warn",
    "no-unused-vars": "error",
    "comma-dangle": "off",
    "quotes": ["error", "single"],
    "semi": ["error", "never"],
    "camelcase": [
      2,
      {
        "properties": "always"
      }
    ],
    "no-var": 2,
    "prefer-const": [
      "error",
      {
        "destructuring": "all",
        "ignoreReadBeforeAssign": false
      }
    ],
    "linebreak-style": ["warn", "unix"],
    "import/order": [
      "error",
      {
        "groups": ["builtin", "external", "parent", "sibling", "index"],
        "pathGroups": [
          {
            "pattern": "react",
            "group": "external",
            "position": "before"
          }
        ],
        "pathGroupsExcludedImportTypes": ["builtin"]
      }
    ]
  },
  "globals": {
    "window": true,
    "document": true,
    "localStorage": true,
    "FormData": true,
    "FileReader": true,
    "Blob": true,
    "navigator": true
  },
  "parser": "babel-eslint"
}
